.cards-container{
  margin:auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-top: 80px;
  .card{
    width: 300px;
    height: 120px;
    display: block;
    border: 2px ridge var(--neutral-blue);
    border-radius: 6px;
    background-color: var(--extreme-dark-blue);
    transition: transform .3s;
    &:hover{
      transform: translatey(-3px);
      border: 2px ridge #00ff80;
      box-shadow: 1px 5px 22px var(--black);
    }
    i{
      color: var(--orange);
      font-size: 1.2rem;
      cursor: pointer;
    }
    p{
      color: var(--white);
    }
  }
}

.cards-container .card .contact-header{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #081738;

  .contact-active, .contact-inactif{
    background-color: #2fff78;
    font-weight: 500;
    color: var(--extreme-dark-blue);
    font-size: .85em;
    margin-top: -.1rem;
    padding: 0.1rem 1rem;
    border-radius: 3px;
  }
  .contact-inactif{
    background-color: #ff0000;
  }
}
.contact-footer{
  margin-left: 1rem;
  margin-top: -.5rem;
  font-weight: 300;
  font-size: .85rem;
}