.cards-container{
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-top: 80px;
  .card{
    width: 300px;
    height: 120px;
    display: block;
    border: 2px ridge var(--neutral-blue);
    border-radius: 6px;
    background-color: var(--extreme-dark-blue);
    transition: transform .3s;
    &:hover{
      transform: translatey(-3px);
      border: 2px ridge #06f877;
      box-shadow: 1px 5px 22px var(--black);
    }
    i{
      color: var(--orange);
      font-size: 1.2rem;
      cursor: pointer;
    }
    p{
      color: var(--white);
    }
  }
}

.cards-container .card .contact-header{
  display: flex;
  justify-content: space-between;
  padding: .8rem 1.2rem;
  color: #081738;
  font-size: .95rem;
  .contact-active, .contact-inactif{
    background-color: #0b8804;
    font-weight: 400;
    color: var(--white);
    font-size: .8rem;
    margin-top: -.1rem;
    padding: 0.2rem .7rem;
    border-radius: 20px;
  }
  .contact-inactif{
    background-color: #a40303;
  }
}
.cards-container .card .contact-footer{
  margin-left: 1.2rem;
  font-weight: 300;
  font-size: .8rem;
  p{
    margin-bottom: .3rem;
    &:first-child{
      margin-top: -.6rem;
      margin-bottom: .8rem;
    }
    i{
      font-size: .7rem;
      margin-right: .8rem;
      color : #0fcc3c;
    }
  }
}


@media only screen and (min-width: 1400px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .cards-container {
    width: 80%;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 630px) {
  .cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .card {
      width: 480px;
      height: 140px;
    }
  }
}

@media only screen and (max-width: 520px) {
  .cards-container {
    .card {
      width: 390px;
    }
  }
}

@media only screen and (max-width: 420px) {
  .cards-container {
    .card {
      width: 300px;
    }
  }
}

