// Calquer sur la homepage
.connection-page{
    .home-left{
        width: 50vw;
        .card{
            .login{
                h2{
                    margin-top: -2rem;
                    margin-bottom: .5rem;
                }
                label{
                    font-size: .9rem;
                    margin-left: 2rem;
                    margin-right: auto;
                    margin-bottom: .3rem;
                }
                input{
                    border-radius: 3px;
                    border: 1px solid var(--black);
                    height: 25px;
                    width: 200px;
                    padding-left: .3rem;
                    outline-color: var(--blue);
                }
                .login-button{
                    margin-top: 2.2rem;
                    height: 35px;
                    font-size: .85rem;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: auto;
                    width: 130px;
                    cursor: pointer;
                    background-color: var(--blue);
                    border: 2px solid var(--blue);
                    border-radius: 4px;
                    transition: all .4s;
                    outline-color: var(--extreme-dark-blue);
                    color: var(--white);
                    &:hover{
                        background-color: var(--hover-blue);
                        border: 2px solid var(--hover-blue);
                    }

                }
            }
                
        }
    }
    .home-right{
    left: 50vw;
    width: 50vw;
        .home-right-title{
            text-align: center;
        }
    }  
}
