.landing-page-overflow{
    overflow: hidden;
}
.home-left{
    background: var(--orange) 100%;
    width: 0vw;
    height: 100vh;
    display: flex;
    align-items: center;
    .home-left-title{
        font-size: var(--h2-font-size);
        font-weight: bold;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: rotate(-90deg);
        text-shadow: var(--text-shadow);
    }
    .card{
        position: absolute;
        width: 265px;
        height: 380px;
        border-radius: 10px;
        box-shadow: 0px 1px 2px var(--grey);
        left: 0; 
        right: 0; 
        top: 0;
        bottom: 0;
        margin: auto; 
        .login{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
            h2{
                margin-bottom: 1rem;
                font-size: var(--h2-font-size);
            }
            img{
                width: 200px;
                height: 100%;
            }
            a{
                font-size: .9rem;
                font-weight: bold;
                text-align: center;
                margin-bottom: auto;
                height: 35px;
                width: 130px;
                padding-top: .4rem;
                margin-top: 2.5rem;
                border: none;
                border-radius: 4px;
                color: var(--white);
                background-color: var(--blue);
                border: 2px solid var(--blue);
                transition: all .4s;
                cursor: pointer;
                &:hover{
                    color: var(--white);
                    background-color: var(--hover-blue);
                    border: 2px solid var(--hover-blue);
                }
            }
        }
    }
    .home-card-background{
        background: linear-gradient(1900deg, var(--blue) 10%, var(--white) 10%);
    }

}

.home-right{
    position: absolute;
    background: var(--blue);
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    left: 100vw;
    top: 0;
    .home-right-title{
        font-size: var(--h2-font-size);
        font-weight: bold;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-shadow: var(--text-shadow);
    }
}


@media only screen and (max-width: 1000px) {
    .home-left {
        .home-left-title {
            font-size: var(--h2-font-size-medium);
        }
    }
    .home-right{
        .home-right-title{
            font-size: var(--h2-font-size-medium);
        }
    }
}

@media only screen and (max-width: 850px) {
    .home-left {
        .home-left-title {
            font-size: var(--h2-font-size-min);
        }
    }
    .home-right{
        .home-right-title{
            font-size: var(--h2-font-size-min);
        }
    }
}

@media only screen and (max-width: 768px) {
    .home-left {
        .home-left-title {
            opacity: 0;
        }
    }
    .home-right{
        .home-right-title{
            opacity: 0;
        }
    }
}

