.navbar{
    position: fixed;
    top: 0;
    height: 30px;
    width: 100%;
    padding-right: .5rem;
    background-color: var(--white);
    z-index: 1;
    .navbar-logo{
        position: absolute;
        width: 17px;
        height: 17px;
        border-left: 5px solid var(--orange);
        border-right: 5px solid var(--blue);
        border-radius: 50%;  
        margin-top: .3rem;
        margin-left: .8rem;
        margin-bottom: 1.2rem;
    }
    a{
        display: block;
        max-width: 100px;
        .navbar-logo-title{
            max-width: 90px;
            font-size: 1.2rem;
            font-weight: 500;
            padding-top: .2rem;
            margin-left: 18px;
            span{
                opacity: 0;
            }
        }
    }
}