@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');*/
:root{
    --body-font:'Roboto', sans-serif;
    --h1-font-size: 2.3rem;
    --h2-font-size: 2.2rem;
    --text-shadow : 1px 1px 1px rgba(255,255,255,.5);
    //color
    --white : white;
    --grey : #6e6e6e;
    --table-grey: #CCC;
    --beige: rgb(255, 255, 243);
    --black : black;
    --blue : #146391;
    --hover-blue: #1f80b8;
    --neutral-blue: rgb(25, 109, 140);
    --middle-blue: #032f5e;
    --dark-blue: #081738;
    --extreme-dark-blue: rgb(4, 13, 33);
    --orange: #ff8b25;
    --orange-neutral: rgb(255, 153, 66);
    --flashy-orange: #e58910;
    --dark-green: #0b8804;
    --green : #16930f;
    --middle-green : #149f11;
    --light-green : #0fcc3c;
    --flashy-green: #06f877;
    --dark-red: #a40303;

}
