@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');*/
:root {
  --body-font:"Roboto", sans-serif;
  --h1-font-size: 2.3rem;
  --h2-font-size: 2.2rem;
  --h2-font-size-medium: 1.3rem;
  --h2-font-size-min: 1.1rem;
  --text-shadow: 1px 1px 1px rgba(255,255,255,.5);
  --white: white;
  --grey: #6e6e6e;
  --table-grey: #CCC;
  --beige: rgb(255, 255, 243);
  --black: black;
  --blue: #146391;
  --hover-blue: #1f80b8;
  --neutral-blue: rgb(25, 109, 140);
  --middle-blue: #032f5e;
  --dark-blue: #081738;
  --extreme-dark-blue: rgb(4, 13, 33);
  --orange: #ff8b25;
  --orange-neutral: rgb(255, 153, 66);
  --flashy-orange: #e58910;
  --dark-green: #0b8804;
  --green: #16930f;
  --middle-green: #149f11;
  --light-green: #0fcc3c;
  --flashy-green: #06f877;
  --dark-red: #a40303;
}

.connection-page .home-left {
  width: 50vw;
}
.connection-page .home-left .card .login h2 {
  margin-top: -2rem;
  margin-bottom: 0.5rem;
}
.connection-page .home-left .card .login label {
  font-size: 0.9rem;
  margin-left: 2rem;
  margin-right: auto;
  margin-bottom: 0.3rem;
}
.connection-page .home-left .card .login input {
  border-radius: 3px;
  border: 1px solid var(--black);
  height: 25px;
  width: 200px;
  padding-left: 0.3rem;
  outline-color: var(--blue);
}
.connection-page .home-left .card .login .login-button {
  margin-top: 2.2rem;
  height: 35px;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: auto;
  width: 130px;
  cursor: pointer;
  background-color: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 4px;
  transition: all 0.4s;
  outline-color: var(--extreme-dark-blue);
  color: var(--white);
}
.connection-page .home-left .card .login .login-button:hover {
  background-color: var(--hover-blue);
  border: 2px solid var(--hover-blue);
}
.connection-page .home-right {
  left: 50vw;
  width: 50vw;
}
.connection-page .home-right .home-right-title {
  text-align: center;
}

.landing-page-overflow {
  overflow: hidden;
}

.home-left {
  background: var(--orange) 100%;
  width: 0vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.home-left .home-left-title {
  font-size: var(--h2-font-size);
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-90deg);
  text-shadow: var(--text-shadow);
}
.home-left .card {
  position: absolute;
  width: 265px;
  height: 380px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px var(--grey);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.home-left .card .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.home-left .card .login h2 {
  margin-bottom: 1rem;
  font-size: var(--h2-font-size);
}
.home-left .card .login img {
  width: 200px;
  height: 100%;
}
.home-left .card .login a {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: auto;
  height: 35px;
  width: 130px;
  padding-top: 0.4rem;
  margin-top: 2.5rem;
  border: none;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);
  transition: all 0.4s;
  cursor: pointer;
}
.home-left .card .login a:hover {
  color: var(--white);
  background-color: var(--hover-blue);
  border: 2px solid var(--hover-blue);
}
.home-left .home-card-background {
  background: linear-gradient(1900deg, var(--blue) 10%, var(--white) 10%);
}

.home-right {
  position: absolute;
  background: var(--blue);
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  left: 100vw;
  top: 0;
}
.home-right .home-right-title {
  font-size: var(--h2-font-size);
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-shadow: var(--text-shadow);
}

@media only screen and (max-width: 1000px) {
  .home-left .home-left-title {
    font-size: var(--h2-font-size-medium);
  }

  .home-right .home-right-title {
    font-size: var(--h2-font-size-medium);
  }
}
@media only screen and (max-width: 850px) {
  .home-left .home-left-title {
    font-size: var(--h2-font-size-min);
  }

  .home-right .home-right-title {
    font-size: var(--h2-font-size-min);
  }
}
@media only screen and (max-width: 768px) {
  .home-left .home-left-title {
    opacity: 0;
  }

  .home-right .home-right-title {
    opacity: 0;
  }
}
.login .login-logo-connection {
  width: 150px;
  height: 150px;
  border-left: 30px solid var(--orange);
  border-right: 30px solid var(--blue);
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}
.login .login-logo-connection .logo-blue-bar {
  font-size: 4.5rem;
  color: var(--blue);
  margin-right: -0.5rem;
}
.login .login-logo-connection .logo-orange-bar {
  font-size: 4.5rem;
  color: var(--orange);
  text-shadow: 2px 0px 1px var(--orange);
}

h2 {
  text-align: center;
}
h2 .login-logo {
  width: 80px;
  height: 80px;
  border-left: 20px solid var(--orange);
  border-right: 20px solid var(--blue);
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}
h2 .login-logo .logo-blue-bar {
  font-size: 4.5rem;
  color: var(--blue);
  margin-right: -0.5rem;
}
h2 .login-logo .logo-orange-bar {
  font-size: 4.5rem;
  color: var(--orange);
  text-shadow: 2px 0px 1px var(--orange);
}

.navbar {
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  padding-right: 0.5rem;
  background-color: var(--white);
  z-index: 1;
}
.navbar .navbar-logo {
  position: absolute;
  width: 17px;
  height: 17px;
  border-left: 5px solid var(--orange);
  border-right: 5px solid var(--blue);
  border-radius: 50%;
  margin-top: 0.3rem;
  margin-left: 0.8rem;
  margin-bottom: 1.2rem;
}
.navbar a {
  display: block;
  max-width: 100px;
}
.navbar a .navbar-logo-title {
  max-width: 90px;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 0.2rem;
  margin-left: 18px;
}
.navbar a .navbar-logo-title span {
  opacity: 0;
}

.section-form {
  background-color: var(--middle-blue);
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 70px;
  padding: 20px;
  display: flex;
  border-radius: 4px;
}
.section-form .form-title {
  color: var(--orange);
  display: flex;
  width: 100%;
  text-align: start;
}
.section-form .form {
  color: var(--orange);
}
.section-form .form .form-title {
  display: flex;
}
.section-form .form .bloc {
  display: flex;
}
.section-form .form .form-bloc {
  display: flex;
  flex-direction: column;
  margin: 10px;
  flex: 1;
}
.section-form .form .form-bloc :last-child {
  flex: 1;
}
.section-form .form .form-bloc fieldset {
  border: 0;
}
.section-form .form .form-bloc .form-line {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.section-form .form .form-bloc .form-line input {
  margin-top: 5px;
  border-radius: 4px;
}
.section-form .form .form-bloc .form-radio {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 5px;
}
.section-form .form .form-bloc input[type=radio] {
  margin: 0 0 0 10px;
}
.section-form .form .form-bloc .form-notes {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.section-form .form .form-bloc textarea[name=notes] {
  resize: none;
  border-radius: 4px;
}
.section-form .form .form-button {
  display: flex;
  margin-top: -0.8rem;
  justify-content: flex-end;
}
.section-form .form button {
  background-color: white;
  color: var(--orange);
  margin-right: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .bloc {
    flex-direction: column;
  }
}
@media screen and (min-width: 769px) {
  .bloc {
    flex-direction: row;
    flex: 1;
  }
}
@media screen and (max-width: 768px) {
  .section-form {
    margin-left: 50px;
    flex-direction: column;
  }
  .section-form .form .form-button-small-screen {
    display: flex;
    justify-content: center;
    margin-left: 2rem;
  }
  .section-form .form .form-button-small-screen .button-small-screen {
    width: 100px;
  }
  .section-form .form .form-button {
    display: none;
  }
  .section-form .form textarea[name=notes] {
    min-height: 150px;
    width: auto;
  }
}
@media screen and (min-width: 769px) {
  .section-form {
    margin-left: 150px;
    flex-direction: column;
  }
  .section-form .form-button-small-screen {
    display: none;
  }
}
table {
  border-bottom: 4px solid #146391;
  margin: 100px auto;
  border-radius: 15px 15px 0 0;
  background-color: #146391;
}

thead {
  background-color: #146391;
}
thead tr th {
  padding: 1rem;
  border-radius: 15px 15px 0 0;
  color: #fff;
  font-weight: 400;
}

tbody tr td {
  padding: 1rem;
  font-weight: lighter;
  font-size: 14px;
  text-align: center;
}
tbody tr:nth-child(even) {
  background: var(--table-grey);
}
tbody tr:nth-child(odd) {
  background: var(--white);
}

.container-stat {
  width: calc(100% - 100px);
  display: flex;
  height: 400px;
  margin-left: 100px;
}

.box-stat {
  border: 2px solid #e58910;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.box-stat .scd {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-stat-brut {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.stat-brut {
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.stat-brut span {
  display: block;
  text-align: center;
  margin: 10px;
  padding: 0.5rem;
  background-color: #ff8b25;
  color: #081738;
  font-weight: bold;
}
.stat-brut p {
  text-align: center;
}

.cards-container {
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-top: 30px;
}
.cards-container .card {
  width: 300px;
  height: 120px;
  display: block;
  border: 2px ridge var(--neutral-blue);
  border-radius: 6px;
  background-color: var(--extreme-dark-blue);
  transition: transform 0.3s;
}
.cards-container .card:hover {
  transform: translatey(-3px);
  border: 0.12rem ridge var(--flashy-green);
  box-shadow: 1px 5px 22px var(--black);
}
.cards-container .card i {
  color: var(--orange);
  font-size: 1.2rem;
}
.cards-container .card p {
  color: var(--white);
}
.cards-container .card a {
  cursor: pointer;
}

.cards-container .card .contact-header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1.2rem;
  color: var(--dark-blue);
  font-size: 0.95rem;
}
.cards-container .card .contact-header .contact-active, .cards-container .card .contact-header .contact-inactif {
  background-color: var(--dark-green);
  font-weight: 400;
  color: var(--white);
  font-size: 0.8rem;
  margin-top: -0.1rem;
  padding: 0.2rem 0.7rem;
  border-radius: 20px;
}
.cards-container .card .contact-header .contact-inactif {
  background-color: var(--dark-red);
}

.cards-container .card .contact-footer {
  margin-left: 1.2rem;
  font-weight: 300;
  font-size: 0.8rem;
}
.cards-container .card .contact-footer p {
  margin-bottom: 0.3rem;
}
.cards-container .card .contact-footer p i {
  font-size: 0.7rem;
  margin-right: 0.8rem;
  color: var(--light-green);
}

@media only screen and (min-width: 1400px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .cards-container {
    width: 80%;
    align-items: center;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 630px) {
  .cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cards-container .card {
    width: 480px;
    height: 140px;
  }
}
@media only screen and (max-width: 520px) {
  .cards-container .card {
    width: 390px;
  }
}
@media only screen and (max-width: 420px) {
  .cards-container .card {
    width: 300px;
  }
}
.aside {
  position: fixed;
  top: 30px;
  left: 0;
  height: 100%;
  background-color: var(--middle-blue);
  color: var(--white);
  font-size: 0.7rem;
  text-align: center;
  padding: 1.2rem 0rem;
  z-index: 2;
  width: 100px;
}
.aside a {
  cursor: pointer;
  color: var(--white);
  z-index: 5;
  width: 100%;
}
.aside a:hover i {
  background: var(--dark-blue);
  color: var(--orange);
}
.aside a:hover p {
  background: var(--dark-blue);
  color: var(--white);
  text-shadow: 0px 0px 0px var(--dark-blue);
}
.aside a i {
  padding: 1.6rem 0rem;
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  color: var(--flashy-orange);
  transition: color 0.1s, background-color 0.1s, transform 0.4s;
}
.aside a p {
  padding-bottom: 1rem;
  margin-top: -0.8rem;
  font-size: 0.7rem;
  color: var(--white);
  text-shadow: 1px 1px 2px var(--dark-blue);
  transition: color 0.1s, background-color 0.1s, transform 0.4s;
}
.aside .bar-link:nth-of-type(1) {
  margin-top: -1.2rem;
}

.active {
  background-color: var(--dark-blue);
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.active a p {
  color: var(--beige);
  text-shadow: 0px 0px 0px var(--white);
}

.active a i {
  color: var(--orange-neutral);
}

.aside a {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
}
.aside a::before,
.aside a::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.aside a::before {
  background-color: var(--orange);
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
.aside a:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

@media only screen and (max-width: 768px) {
  .aside {
    display: none;
    left: -100px;
  }
}
.search-bar {
  padding-top: 75px;
  margin-left: 15%;
  margin-bottom: 0.5rem;
  display: flex;
}
.search-bar .search-container {
  display: flex;
}
.search-bar .search-container .search-bar-links {
  display: flex;
}
.search-bar .search-container .search-bar-links .sorting-link, .search-bar .search-container .search-bar-links span {
  font-size: 0.9rem;
  margin-top: 0.2rem;
  margin-right: 0.5rem;
  padding-bottom: 0.3rem;
  color: var(--white);
  cursor: pointer;
}
.search-bar .search-container .search-bar-by-name label {
  position: relative;
}
.search-bar .search-container .search-bar-by-name label:before {
  content: "";
  position: absolute;
  left: 30px;
  top: 5px;
  bottom: 0;
  width: 15px;
  height: 10px;
  background: url("https://svgsilh.com/svg/189254.svg") center/contain no-repeat;
}
.search-bar .search-container .search-bar-by-name input {
  height: 25px;
  width: 300px;
  margin-left: 1.2rem;
  padding-left: 28px;
  outline-color: var(--orange);
  border: 2px solid var(--hover-blue);
  border-radius: 4px;
}
.search-bar .adding-link {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  background-color: var(--green);
  color: var(--white);
  font-size: 0.85rem;
  text-align: center;
  border-radius: 4px;
  transition: all 0.3s;
}
.search-bar .adding-link:hover {
  background-color: var(--middle-green);
  transform: translateY(-0.11rem);
  box-shadow: 2px 7px 20px var(--extreme-dark-blue);
}
.search-bar .adding-link i {
  margin-right: 0.4rem;
}

.search-bar .sorting-link {
  overflow: hidden;
  position: relative;
  display: block;
}
.search-bar .sorting-link::before,
.search-bar .sorting-link::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
}
.search-bar .sorting-link::before {
  background-color: var(--orange);
  height: 2px;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
}
.search-bar .sorting-link:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

@media only screen and (max-width: 768px) {
  .search-bar {
    margin-left: 7.5%;
    flex-direction: column;
  }
  .search-bar .adding-link {
    margin: 1.2rem 0rem -1rem 0rem;
  }
}
@media only screen and (max-width: 570px) {
  .search-bar {
    margin-left: 12%;
  }
  .search-bar .search-container {
    display: block;
  }
  .search-bar .search-container .search-bar-by-name label:before {
    left: 10px;
  }
  .search-bar .search-container .search-bar-by-name input {
    margin-top: 0.7rem;
    margin-left: 0rem;
  }
}
@media only screen and (max-width: 500px) {
  .search-bar {
    margin-left: 12%;
  }
}
@media only screen and (max-width: 360px) {
  .search-bar {
    margin-left: 7%;
  }
  .search-bar .search-bar-by-name input {
    width: 280px;
  }
}
@media only screen and (max-width: 320px) {
  .search-bar {
    margin-left: 3%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

body {
  background-color: #081738;
}

a {
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=style.css.map */
