@import '_root.scss';
@import '_connection.scss';
@import '_homePage.scss';
@import '_bigLogo.scss';
@import '_logo.scss';
@import '_navigationBar.scss';
@import '_forms.scss';
@import '_table.scss';
@import "_card.scss";
@import '_menu.scss';
@import '_searchBar.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--body-font);
}

body{
    background-color: #081738;
}

a{
    text-decoration: none;
    color: black;
}



