@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap');*/
:root {
  --body-font:"Roboto", sans-serif;
  --h1-font-size: 2.3rem;
  --h2-font-size: 2.2rem;
  --text-shadow: 1px 1px 1px rgba(255,255,255,.5);
  --white: white;
  --grey: #6e6e6e;
  --table-grey: #CCC;
  --beige: rgb(255, 255, 243);
  --black: black;
  --blue: #146391;
  --hover-blue: #1f80b8;
  --neutral-blue: rgb(25, 109, 140);
  --dark-blue: #081738;
  --extreme-dark-blue: rgb(4, 13, 33);
  --orange: #ff8b25;
  --orange-neutral: rgb(255, 153, 66);
  --flashy-orange: #e58910;
}

.connection-page .home-left {
  width: 50vw;
}
.connection-page .home-left .card .login h2 {
  margin-top: -2rem;
  margin-bottom: 0.5rem;
}
.connection-page .home-left .card .login label {
  font-size: 0.9rem;
  margin-left: 2rem;
  margin-right: auto;
  margin-bottom: 0.3rem;
}
.connection-page .home-left .card .login input {
  border-radius: 3px;
  border: 1px solid var(--black);
  height: 25px;
  width: 200px;
  padding-left: 0.3rem;
  outline-color: var(--blue);
}
.connection-page .home-left .card .login .login-button {
  margin-top: 2.2rem;
  height: 35px;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: auto;
  width: 130px;
  cursor: pointer;
  background-color: var(--blue);
  border: 2px solid var(--blue);
  border-radius: 4px;
  transition: all 0.4s;
  outline-color: var(--extreme-dark-blue);
  color: var(--white);
}
.connection-page .home-left .card .login .login-button:hover {
  background-color: var(--hover-blue);
  border: 2px solid var(--hover-blue);
}
.connection-page .home-right {
  left: 50vw;
  width: 50vw;
}
.connection-page .home-right .home-right-title {
  text-align: center;
}

.landing-page-overflow {
  overflow: hidden;
}

.home-left {
  background: var(--orange) 100%;
  width: 0vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.home-left .home-left-title {
  font-size: var(--h2-font-size);
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: rotate(-90deg);
  text-shadow: var(--text-shadow);
}
.home-left .card {
  position: absolute;
  width: 265px;
  height: 380px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px var(--grey);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.home-left .card .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.home-left .card .login h2 {
  margin-bottom: 1rem;
  font-size: var(--h2-font-size);
}
.home-left .card .login img {
  width: 200px;
  height: 100%;
}
.home-left .card .login a {
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: auto;
  height: 35px;
  width: 130px;
  padding-top: 0.4rem;
  margin-top: 2.5rem;
  border: none;
  border-radius: 4px;
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);
  transition: all 0.4s;
  cursor: pointer;
}
.home-left .card .login a:hover {
  color: var(--white);
  background-color: var(--hover-blue);
  border: 2px solid var(--hover-blue);
}
.home-left .home-card-background {
  background: linear-gradient(1900deg, var(--blue) 10%, var(--white) 10%);
}

.home-right {
  position: absolute;
  background: var(--blue);
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  left: 100vw;
  top: 0;
}
.home-right .home-right-title {
  font-size: var(--h2-font-size);
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-shadow: var(--text-shadow);
}

h2 {
  text-align: center;
}
h2 .login-logo {
  width: 80px;
  height: 80px;
  border-left: 20px solid var(--orange);
  border-right: 20px solid var(--blue);
  border-radius: 50%;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}
h2 .login-logo .logo-blue-bar {
  font-size: 4.5rem;
  color: var(--blue);
  margin-right: -0.5rem;
}
h2 .login-logo .logo-orange-bar {
  font-size: 4.5rem;
  color: var(--orange);
  text-shadow: 2px 0px 1px var(--orange);
}

.navbar {
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  padding-right: 0.5rem;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey);
  z-index: 1;
}
.navbar .navbar-logo {
  position: absolute;
  width: 17px;
  height: 17px;
  border-left: 5px solid var(--orange);
  border-right: 5px solid var(--blue);
  border-radius: 50%;
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  margin-bottom: 1.2rem;
}
.navbar a {
  display: block;
  max-width: 90px;
}
.navbar a .navbar-logo-title {
  max-width: 90px;
  font-size: 1.2rem;
  font-weight: 500;
  padding-top: 0.2rem;
  margin-left: 13px;
}
.navbar a .navbar-logo-title span {
  opacity: 0;
}

.newClientForm {
  display: flex;
  flex-direction: column;
}
.newClientForm .formTitle {
  display: flex;
  color: #1f80b8;
}
.newClientForm .submit {
  display: flex;
  flex-direction: column;
}
.newClientForm .submit .form-bloc {
  display: flex;
  flex-direction: column;
}
.newClientForm .submit .form-bloc .formClientLastName {
  display: flex;
}
.newClientForm .submit .form-bloc .formClientFirstName {
  display: flex;
}
.newClientForm .submit .form-bloc .formSociety {
  display: flex;
}
.newClientForm .submit .form-bloc .formPortablePhone {
  display: flex;
}
.newClientForm .submit .form-bloc .formFixPhone {
  display: flex;
}
.newClientForm .submit .form-bloc .formRadio {
  display: flex;
  flex-direction: row;
}
.newClientForm .submit .form-bloc .formButton {
  display: flex;
}

table {
  border-bottom: 4px solid #146391;
  margin: 100px auto;
  border-radius: 15px 15px 0 0;
  background-color: #146391;
}

thead {
  background-color: #146391;
}
thead tr th {
  padding: 1rem;
  border-radius: 15px 15px 0 0;
  color: #fff;
  font-weight: 400;
}

tbody tr td {
  padding: 1rem;
  font-weight: lighter;
  font-size: 14px;
  text-align: center;
}
tbody tr:nth-child(even) {
  background: var(--table-grey);
}
tbody tr:nth-child(odd) {
  background: var(--white);
}

.cards-container {
  margin: auto;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding-top: 80px;
}
.cards-container .card {
  width: 300px;
  height: 120px;
  display: block;
  border: 2px ridge var(--neutral-blue);
  border-radius: 6px;
  background-color: var(--extreme-dark-blue);
  transition: transform 0.3s;
}
.cards-container .card:hover {
  transform: translatey(-3px);
  border: 2px ridge #00ff80;
  box-shadow: 1px 5px 22px var(--black);
}
.cards-container .card i {
  color: var(--orange);
  font-size: 1.2rem;
  cursor: pointer;
}
.cards-container .card p {
  color: var(--white);
}

.cards-container .card .contact-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #081738;
}
.cards-container .card .contact-header .contact-active, .cards-container .card .contact-header .contact-inactif {
  background-color: #2fff78;
  font-weight: 500;
  color: var(--extreme-dark-blue);
  font-size: 0.85em;
  margin-top: -0.1rem;
  padding: 0.1rem 1rem;
  border-radius: 3px;
}
.cards-container .card .contact-header .contact-inactif {
  background-color: #ff0000;
}

.contact-footer {
  margin-left: 1rem;
  margin-top: -0.5rem;
  font-weight: 300;
  font-size: 0.85rem;
}

.aside {
  position: fixed;
  top: 30px;
  left: 0;
  height: 100%;
  background-color: var(--blue);
  color: var(--white);
  font-size: 0.7rem;
  text-align: center;
  padding: 1.2rem 0rem;
  z-index: 2;
  width: 85px;
}
.aside a {
  cursor: pointer;
  color: var(--white);
  z-index: 5;
}
.aside a:hover i {
  background: var(--dark-blue);
  color: var(--orange);
}
.aside a:hover p {
  background: var(--dark-blue);
  color: var(--white);
  text-shadow: 0px 0px 0px var(--dark-blue);
}
.aside a i {
  padding: 1.9rem 2.3rem;
  margin-bottom: 0.2rem;
  font-size: 1.5rem;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
  color: var(--dark-blue);
  transition: color 0.1s, background-color 0.1s, transform 0.4s;
}
.aside a p {
  padding-bottom: 1rem;
  margin-top: -0.8rem;
  font-size: 0.7rem;
  color: var(--white);
  text-shadow: 1px 1px 2px var(--dark-blue);
  transition: color 0.1s, background-color 0.1s, transform 0.4s;
}
.aside .bar-link:nth-of-type(1) {
  margin-top: -1.2rem;
}

.active {
  background-color: var(--dark-blue);
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.active a p {
  color: var(--beige);
  text-shadow: 0px 0px 0px var(--white);
}

.active a i {
  color: var(--orange-neutral);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
}

body {
  background-color: #081738;
}

a {
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=style.css.map */
